@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');*/
@media all {
  :root {
    --mentem-gray: #F3F3F3;
    --mentem-purple: #BA61FF;
  }
  body {
    background-color: white;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 1.4;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
  }
  body > header {
    background-color: var(--mentem-purple);
    color: white;
    font-size: 250%;
    margin: 0;
    padding: 0.25em;
    text-align: center;
  }
  button {
    background-color: #BA61FF;
    border: none;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    font-family: "Roboto Mono";
    margin-bottom: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
  }
  code {
    background-color: var(--mentem-gray);
    border-radius: 0.25em;
    display: inline-block;
    font-family: "Roboto Mono";
    font-size: 0.95em;
    padding: 0.1em 0.25em;
  }
  details {
    border: thin lightgray solid;
    margin-bottom: 1.4em;
    padding: 0.5em;
    text-align: left;
  }
  figure {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
  }
  footer {
    background-color: var(--mentem-gray);
    box-sizing: border-box;
    color: var(--mentem-purple);
    font-size: 90%;
    padding: 0.5em;
    text-align: center;
  }
  h1 {
    font-size: 180%;
    font-weight: 500;
    text-align: left;
  }
  h2 {
    font-size: 160%;
    font-weight: 500;
    text-align: left;
  }
  h3 {
    font-size: 140%;
    font-weight: 500;
    text-align: left;
  }
  h4 {
    font-size: 130%;
    font-weight: 500;
    text-align: left;
  }
  h5 {
    font-size: 115%;
    font-weight: 500;
    text-align: left;
  }
  h6 {
    font-size: 100%;
    font-weight: 500;
    text-align: left;
  }
  iframe {
    width: 100%;
  }
  img {
    box-sizing: border-box;
    width: 100%;
  }
  li {
    text-align: justify;
  }
  main {
    background-color: white;
    padding: 1em 3em 5em 3em;
  }
  main a[href] {
    background-color: var(--mentem-purple);
    border-radius: 1em;
    color: white;
    display: inline-block;
    font-family: "Roboto Mono";
    padding: 0.5em 1em;
    text-decoration: none;
    word-break: break-all;
  }
  /*
  main *:first-child {
    margin-top: 0.5em;
  }
  */
  p {
    text-align: justify;
  }
  pre {
    background-color: var(--mentem-gray);
    padding: 0.5em;
    text-align: left;
  }
  pre code {
    padding: 0;
    white-space: pre-wrap;
  }
  strong {
    font-weight: 700;
  }
  summary {
    background-color: var(--mentem-gray);
    cursor: pointer;
    margin: -0.5em;
    padding: 0.5em;
  }
  summary > * {
    display: inline;
  }
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  table th {
    background-color: var(--mentem-gray);
    border: thin gray solid;
    padding: 0.2em;
  }
  table td {
    border: thin gray solid;
    padding: 0.2em;
    text-align: center;
  }
  .code {
    border: thin lightgray solid;
  }
  .code pre {
    margin: 0;
  }
  .code header {
    background-color: var(--mentem-gray);
    border-bottom: thin lightgray solid;
    color: var(--mentem-purple);
    padding: 0.25em;
    text-align: left;
  }
  .code button {
    background-color: var(--mentem-purple);
    border: none;
    border-radius: 0.2em;
    color: white;
    cursor: pointer;
    float: right;
    margin-left: 0.5em;
    padding: 0.2em 0.4em;
  }
  .code button:focus {
    outline: none;
  }
  .code button.clear {
    display: none;
  }
  .code.runnable textarea {
    border: none;
    box-sizing: border-box;
    display: block;
    font-family: 'Roboto Mono';
    padding: 0.5em;
    resize: none;
    width: 100%;
  }
  .code output {
    border-top: thin lightgray solid;
    display: none;
    font-family: 'Roboto Mono';
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0.5em;
    text-align: left;
    white-space: pre-wrap;
  }
  .code[data-language='latex'],
  .code[data-language='markdown'] output {
    font-family: 'Roboto Mono';
    white-space: normal;
  }
  .code[data-language='html'] output {
    padding: 0
  }
  .code:not(:last-child) {
    margin-bottom: 1.4em;
  }
  .katex {
    /*font-size: 1.21em !important;*/
    /*
    font-family: inherit !important;
    font-weight: inherit !important;
    */
  }
  #pause,
  #resume,
  #stop {
    display: none;
  }
  #start {
    display: inline-block;
  }
  #who {
    background-color: black;
    box-sizing: border-box;
    color: white;
    font-size: 90%;
    padding: 0.5em;
    text-align: left;
  }
  #reader {
    background-color: black;
    border-radius: 0.5em;
    position: fixed;
    right: 2em;
    top: 2em;
  }
  #reader a {
    color: white;
    margin: 1em;
    text-decoration: none;
  }
}
@media screen {
  body {
    font-size: 16px;
    max-width: 50em;
    min-height: 100vh;
  }
  footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }
  html {
    background-color: gray;
  }
}
@media print {
  @page {
    margin: 1.5cm;
    size: A4;
  }
  body {
    font-size: 10pt;
    max-width: 100%;
  }
  body > header {
    background-color: white;
    color: black;
    padding: 0;
  }
  footer {
    background-color: transparent;
    border-top: thin lightgray solid;
    color: black;
  }
  iframe {
    display: none;
  }
  main {
    padding: 1.4em 0 2.8em 0;
  }
  #who {
    display: none;
  }
  #reader {
    display: none;
  }
}